<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto Webpack Base</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->


  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>

<body class="bg-dark">
  <nav class="navbar">

    <div class="container">
      <a href="" class="navbar-brand text-light fs-2 fw-bold">APMDB </a>

      <button class="btn btn-outline-light">Pagina Inicial</button>
    </div>

  </nav>

  <main>

    <div class="container mt-3" id="containerEmAlta">
      <h1 class="fs-2 fw-bold text-warning">Filmes em alta</h1>

      <div class="row">
        <!-- <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/8tBhAn6qVRQzf5yvEcxjgPMgTkw.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">Megatubarão 2</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/9EnfMH0nTPCna87Mh3G8Q6W2wze.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="detalhes.html" class="fs-5 link-warning fw-bold text-decoration-none">Indiana Jones e A Relíquia do Destino</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/cfXO8gMTz484ItS0AANhGS4v4b5.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">Elementos</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/yRRuLt7sMBEQkHsd1S3KaaofZn7.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">Barbie</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/9EpaPaKozP2b8L1hJekBFI75gCm.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">Agente Stone</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/4CwKj1fw33BXYzxvrpM3GlAhK4L.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">Através do Aranhaverso</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/pZaFdrYekwC9ITq4yWrkqEwCy3E.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">A Última Viagem do Deméter</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/2BWhcrlPr6UvSJy5D044Ikq2QxH.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">Som da Liberdade</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center text-center">
            <img
              src="https://image.tmdb.org/t/p/original/itYONYDHpJqTuu8BCXAtHxgpglq.jpg"
              class="img-fluid rounded-3 p-2 pb-0">
              <a href="" class="fs-5 link-warning fw-bold text-decoration-none">The Flash</a>
          </div> -->
        </div>
      </div>
    </div>

  </main>
</body>

</html>